<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <h3>Login</h3>
          <p>Inserisci i dati per fare il login</p>
          <form class="requires-validation" (ngSubmit)="login()">
            <div class="col-md-12">
              <input
                class="form-control"
                type="email"
                placeholder="E-mail*"
                name="email"
                [(ngModel)]="datiLogin.email"
              />
            </div>

            <div class="col-md-12">
              <input
                class="form-control"
                type="password"
                name="password"
                placeholder="Password*"
                [(ngModel)]="datiLogin.password"
              />
            </div>

            <div class="form-button mt-3">
              <button id="submit" type="submit" class="btn btn-primary">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
