<div class="container my-3 text-white">
  <h1 class="mb-5">USERS</h1>

  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xxl-5 g-4">
    <div class="col" *ngFor="let user of users">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ user.name + " " + user.lastName }}</h5>
          <p class="mb-2">
            {{ user.email }}
          </p>
        </div>
        <div class="card-footer bg-transparent border-0">
          <p class="card-text">Age: {{ user.age || "Not registerd" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
