.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
}

.form-content .form-items {
  background-color: #042c09;
  height: 100%;
  padding: 40px;
  width: 500px;
  border-radius: 10px;
  text-align: left;
  transition: all 0.4s ease;
}

.form-content h3 {
  color: #fff;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-content h3.form-title {
  margin-bottom: 30px;
}

.form-content input {
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #8d8d8d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 16px;
}

.invalid-feedback {
  color: #ff606e;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.valid-feedback {
  color: #2acc80;
}

.inputs {
  align-self: center;
  margin-top: 4rem;
  input {
    margin-top: 0;
    &:nth-of-type(1) {
      margin-bottom: 1rem;
    }
  }
  label {
    color: white;
    margin-bottom: 0;
  }
  .btn-register {
    background-color: #bb6900;
    margin-top: 1.75rem;
    border: none;
    width: 100%;
  }
}

.questLogin {
  margin: 0;
  margin-top: 1rem;
  color: white;
  a.register {
    color: #bb6900;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
