<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <h3>Register</h3>
          <form class="inputs" [formGroup]="form" (ngSubmit)="register()">
            <div class="col-md-12">
              <input
                class="form-control"
                type="text"
                formControlName="name"
                placeholder="Name*"
              />

              <div
                *ngIf="
                  form.get('name')?.hasError('required') &&
                  isInValidTouched('name')
                "
                class="invalid-feedback d-block"
              >
                Insert your name!
              </div>
            </div>
            <div class="col-md-12">
              <input
                class="form-control"
                type="text"
                formControlName="lastName"
                placeholder="Last name*"
              />

              <div
                *ngIf="
                  form.get('lastName')?.hasError('required') &&
                  isInValidTouched('lastName')
                "
                class="invalid-feedback d-block"
              >
                Insert your last name!
              </div>
            </div>

            <div class="col-md-12">
              <input
                class="form-control"
                type="email"
                placeholder="E-mail*"
                formControlName="email"
              />
              <div
                *ngIf="
                  form.get('email')?.hasError('email') &&
                  isInValidTouched('email')
                "
                class="invalid-feedback d-block"
              >
                Enter valid email
              </div>
              <div
                *ngIf="
                  form.get('email')?.hasError('required') &&
                  isInValidTouched('email')
                "
                class="invalid-feedback d-block"
              >
                Insert email
              </div>
            </div>

            <div class="col-md-12">
              <input
                class="form-control"
                type="password"
                formControlName="password"
                placeholder="Password*"
              />

              <div
                *ngIf="
                  form.get('password')?.hasError('required') &&
                  isInValidTouched('password')
                "
                class="invalid-feedback d-block"
              >
                Insert password
              </div>
              <div
                *ngIf="
                  form.get('password')?.errors?.['minlength'] &&
                  isInValidTouched('password')
                "
                class="invalid-feedback d-block"
              >
                Minimun length 6 characters
              </div>
            </div>

            <div class="col-md-12">
              <input
                class="form-control eta"
                type="number"
                formControlName="age"
                placeholder="Age"
              />
            </div>

            <div class="form-button mt-3">
              <button
                [disabled]="form.invalid"
                id="submit"
                type="submit"
                class="btn btn-primary btn-register"
              >
                Sing up
              </button>
            </div>
            <p class="questLogin">
              Already have an account?
              <a routerLink="/login" class="register">LOGIN NOW</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
