<div class="container-fluid my-3 text-white">
  <div class="p-2" *ngFor="let favMovie of favMovies">
    <article class="poster d-flex gap">
      <img class="poster-img" [src]="favMovie.movie.imgUrl" alt="Image movie" />

      <div class="poster-text">
        <h3 class="poster-title">
          {{ favMovie.movie.name }}
        </h3>

        <div class="poster-trama">
          {{ favMovie.movie.trama }}
        </div>
        <ul class="poster-tag list-unstyled mt-5">
          <li class="tag-item">
            <i class="fas fa-tag me-2"></i>{{ favMovie.movie.genere }}
          </li>
          <li class="tag-item">{{ favMovie.movie.year }}</li>
          <li class="tag-item fav">
            <i
              role="button"
              (click)="addFav(favMovie.movie)"
              [ngClass]="{
                'fa-regular': !isFavourite(favMovie.movie),
                'fa-solid': isFavourite(favMovie.movie)
              }"
              class="fa-heart"
            ></i>
          </li>
        </ul>
      </div>
    </article>
  </div>

  <!-- fine prova -->
</div>
