.poster {
  height: 250px;
  &:hover {
    .poster-img {
      transform: scale(1.1);
    }
  }

  .poster-text {
    // border: 2px solid #e58205;
    padding-inline: 1rem;
    width: 100%;
    .poster-title {
      color: #e58205;
    }
    .poster-trama {
      width: 70%;
    }
  }
  .poster-img {
    height: 100%;
    transition: all 0.3s ease-in-out;
  }
}
