<nav
  class="navbar navbar-expand bg-transparent top-0 end-0 start-0"
  [ngClass]="{ 'position-fixed': !isLoggedIn }"
>
  <div class="container-fluid d-flex justify-content-between">
    <div class="d-flex">
      <ul class="navbar-nav mb-0">
        <li class="nav-item me-5">
          <a
            class="nav-link linkOrange"
            [ngClass]="{ 'd-none': !isLoggedIn }"
            aria-current="page"
            routerLink="/home"
            routerLinkActive="selected"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item me-5">
          <a
            class="nav-link linkOrange"
            [ngClass]="{ 'd-none': !isLoggedIn }"
            routerLinkActive="selected"
            routerLink="/users"
            >Users</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link linkOrange"
            [ngClass]="{ 'd-none': !isLoggedIn }"
            routerLinkActive="selected"
            routerLink="/favourites"
            >Favorites</a
          >
        </li>
      </ul>
    </div>
    <div>
      <ul class="navbar-nav mb-0 linkOrange" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a
            class="nav-link linkOrange"
            routerLinkActive="selected"
            aria-current="page"
            routerLink="/login"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link linkOrange"
            routerLinkActive="selected"
            routerLink="/register"
            >Register</a
          >
        </li>
      </ul>
      <ul class="navbar-nav mb-0" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a
            class="nav-link linkOrange"
            aria-current="page"
            role="button"
            (click)="logout()"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
